/* css for contact us page*/
.panel-body {
  padding-top: 0;
}

.contact-header {
	color: rgb(30, 84, 11);
    height: 70px;
    font-size: 27px;
    padding: 10px;
}

div.contact-header {
  margin-top: 5px;
}

.contact {
	display: block;
  	margin-bottom: 3%;
}

.contact-details {
	text-align: center;
	border-bottom: 1px solid #eee;
}

.contact-item {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.contact-item::after {
	content: '';
	display: inline-block;
	width: 100%; 
}

.contact-item p{
	margin:0;
}

p.detailsTitle {
	font-weight: bold;
}

/*For details of this organization*/
.inner-column {
	padding-top: 10px;
}

.inner-column:first-child {
	padding-top: 0px;
}

/*For google map*/
.google-map iframe {
    min-width: 300px;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-top: 17px;
	border: 2px solid rgb(188, 188, 188);
}

/*For query form*/
form p {
	margin-bottom: 3em;
	font-family:Arial, serif, Georgia;
	font-weight: normal;
	text-align: center;
}

.form-alien {
	text-align: left;
}

.well {
	background-color: white;
}

.contactUs .btn-primary{
	float: none;
}


/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
	.google-map iframe {
		width: 90%;
    	height: 90%;
    	min-width: 300px;
		min-height: 300px;
	}
	.contact-item {
		width: 40%;
		margin-left: 7%;
	}

	.contact-details {
		text-align: justify;
		border-bottom: 1px solid #eee;
	}

	p.detailsTitle {
		margin-top: 10px;
		font-weight: bold;
	}
}