.col-md-3 {
	padding: 0;
	border-bottom: 1px solid rgb(189, 189, 189);
}
.row {
	margin-right: auto;
	margin-left: auto;
	width: 92%;
}

.col-md-8 button {
	float:right;
  	margin-top: 2%;
}

.latest-event {
	overflow: hidden;
	text-align: left;
}

.latest-event p,
.latest-event h4 {
	height:0;
	text-align: left;
	overflow: hidden;
}

.latest-event .img-responsive {
	margin-bottom: 10%;
	margin-top: 9%;
}

/*For Further Event History*/
.picture-overflow:last-child {
	margin-bottom: 50px;
}

.picture-overflow div {
	position: relative;
	overflow: hidden;
	width: 230px;
	height: 85px;
	padding-left: 0px;
	}

.picture-overflow img {
	width: 250px;
	height: 200px;
	clip: rect(0px 230px 150px 0px);
	overflow: hidden;
	position: absolute;
	padding-left: 0px;
	display: none;
}

.picture-overflow figure {
	display: block;
	cursor: pointer;
}

/*For title and date of further event history shown when screen size is smaller than 768px*/
.picture-overflow  figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
	background: none;
	color: rgb(76, 157, 72);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 1;
}

.picture-overflow h3, .picture-overflow p {
	padding-left:3%;
	font-size: 14px;
	text-align: left;
}

.picture-overflow h3 {
	font-size: 14px;
}

.picture-overflow p {
	font-size: 10px;
}

.picture-overflow figure:hover figcaption {
	text-decoration: underline;
}

.modal-body {
	width:100%;
}

.modal-body img{
	margin:0 auto;
	margin-bottom: 10px;
	width: 500px;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
	.latest-event p,
	.latest-event h4 {
		height:100%;
		overflow: visible;
	}
	.picture-overflow figure {
		display: inline-block;
	}

	.picture-overflow figure:hover figcaption {
		opacity: 1;
		text-decoration: none;
	}
	
	.picture-overflow figcaption {
		color: white;
		opacity: 0;
		text-decoration: none;
		background: rgba(0,0,0,.6);
	}

	.picture-overflow div {
		height: 130px;
	}

	.picture-overflow img {
		display:block;
	}
	/*For columns of Further Event History*/
	.col-md-3 {
		border: 1px solid rgb(189, 189, 189);
	}
}