.getInvolved .btn-primary {
	float: none;
    margin: 3% 0 3% 0;
}

.getInvolved h2 {
	margin-top: 0;
	margin-bottom: 22px;
}

.getInvolved p, 
.getInvolved h2,
.latest-event .col-md-4 {
	text-align: left;
}

.getInvolved h2 {
	font-size: 25px;
}

.contents-header p{
	margin-top:2%;
}

/*For Youtube video*/
.getInvolved iframe {
	width:530px;
	height:350px;
	border: none;
	display: none;
}

.button {
	float:none;
	margin-bottom: 22px;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
	.button {
		float:right;
	}

	.getInvolved iframe {
		display: inline;
	}
}

/* Responsive: Portrait smartphones and up */
@media (min-width: 472px) {
	.getInvolved h2 {
		font-size: 36px;
	}
}