/*common facror*/
body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.container {
    padding-top: 20px;
    padding-bottom: 2%;
}

h1 {
    font-family: 'Comic Sans MS';
}

.text-center {
    text-align: center !important;
}
.contents {
    margin-top: 56px;
    display:block;
    text-align: center;
    min-height: 100%;
}

/*For headline of each page*/
.headTitle {
    color: rgb(30, 84, 11);
    width: 100%;
    font-weight: bold;  
    font-family: "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    border-top: 5px solid rgb(76, 157, 72);
    left: 0;
    right: 0;
    padding: 7px 0px 12px 12px;
}

/*For heading picture of Home, Get Involved and About us*/
.head-img {
        display: none;
        width:100%;
    }

.item-placeholder {
    height: 0;
    width: 100%;
    border:none;    
}

/*To overwrite color of the default button*/
.btn-primary,
.btn-primary:visited {
    background-color: #4BB845  !important;
    border-color: #3D743B  !important;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #4D9949 !important;
}

.btn-primary:active {
    cursor: wait;
    color: rgb(112,112,112) !important;
}

.clearfix:after {
    content: ""; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* header*/
.header-nav li a:hover,
.header-nav li a:focus {
    background: rgb(75, 178, 70);
    background: linear-gradient(rgba(45, 108, 41, 0.93) 20%,rgb(75, 178, 70) 80%);
    background: -moz-linear-gradient(rgba(45, 108, 41, 0.93) 20%,rgb(75, 178, 70) 80%);
    background: -webkit-linear-gradient(rgba(45, 108, 41, 0.93) 20%,rgb(75, 178, 70) 80%);
}

.header-nav > .active > a {
    color: rgb(230, 222, 93);
}

.header-nav li a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    text-align: center;
    background: rgb(74, 189, 68);
    background: linear-gradient(rgb(74, 189, 68) 20%, rgb(11, 227, 0) 100%);  
    background: -moz-linear-gradient(rgb(74, 189, 68) 20%, rgb(77, 145, 74) 100%); 
    background: -webkit-linear-gradient(rgb(74, 189, 68) 20%,rgb(77, 145, 74) 100%); 
    background-repeat: repeat-x;
    border-bottom:1px solid #3D743B;
}

/*To show the background color behind logo as first child of li is Logo, */
.header-nav > li:first-child > a {
    border-left: 0;
    background: transparent;
    text-align: center;
}

.header-nav > li.logo > a {
    padding: 0 0 1% 0;
    margin: 0;
}

/*footer*/
.footer {
    background-color:#333;
    opacity:.70;
    font-family:  monospace, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer p{
    color: white;
    text-align: center;
    padding:0;
    margin: 10px auto;
    font-size: 0.7em;
    vertical-align: text-bottom;
}

.footer-links {
    margin:0 auto;
    height: 25px;
    text-align: justify;
}

.footer-link{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-link a{
    text-decoration: none;
    color: white;
    padding: 2px 7px 2px 7px;
    -webkit-transition: .1s;
    transition: .1s;
}

.footer-link a:hover,
.footer-link a:focus {
    background-color:#D1D1D1;
    color: black;
    width: 50px;
    border-radius: 30px;
    text-decoration: none;
}

.footer-link a:active {
    color: gray; 
}

.footer_socials {
    margin-top: 22px
}

.footer_socials a{
    margin-right: 10px;
}

.footer_socials a img {
    width: 50px;
}

.footer-links, 
.footer_socials,
p.copyright {
    text-align: center;
}

/* For web page width limitation*/
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
    .pagination>li>a {
        padding: 6px 24px;
    }

    .btn-primary {
        float:right;
    }

    .header-nav {
        max-height: 52px;
    }
    .header-nav > li > a {
        border-right: 1px solid #3D743B;
        border-left: 1px solid #3D743B;
        border-bottom: none;
    }

    .header-nav > li:first-child > a {
        border-color: transparent; 
    }

    .header-nav > li:last-child > a {
        border-right: 0;
        border-radius: 0;
    }

    .head-img {
        display: block;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
    header {
        text-align: center;
        margin-top: -24px;
        margin-left: -44px;
    }
    .masthead,
    .marketing,
    .footer {
        padding-right: 0px;
    }

    .container .jumbotron .jumbotron { 
        margin-bottom: 0px;
        padding: 55px 0px 15px 0px;
    }
}

/* Responsive: Portrait smartphones and up */
@media screen and (min-width: 472px) {
    .footer-links {
        text-align: center;
    }
}