.home {
	text-align: justify;
}

.head-img {
	height: 350px;
	border-radius: 23px;
}

/*For welcome message*/
.welcome {
	text-align: center;
	background-color: transparent;
	margin-bottom: 0;
	padding-bottom: 14px;
}

.welcome h1, .welcome p {
	position: relative;
	text-align: center;
	font-family: 'Comic Sans MS','lft-etica','Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: 3%;
	margin-right:3%;
}

.welcome h1 {
	font-size: 32px;
}

.welcome p {
  	font-size: 16px;
}

/*For columns of current events*/
.home .col-lg-4 {
	padding-bottom: 25px;
	border-bottom: 2px solid rgb(219, 219, 219);
	font-family: Arial;
}

.home h2 {
	text-align: left;
}

.home .col-lg-4:last-child {
	border-bottom: none;
}

.home .col-lg-4 img{
	text-align: center;
}

.home .col-lg-4 p{
	max-width: 100%;
	margin-top: 0.2em;
	text-align: left;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
	.home .col-lg-4 {
		display: inline-block;
		border-bottom: none;
	}

	.home .col-lg-4 p{
		width: 100%;
		max-width: 260px;
	}

	.welcome h1, .welcome p {
		text-align: left;
	}

	.welcome div {
	    position: absolute;
	    top: 56%;
	    left: -2%;
	    width: 501px;
	    background: white;
	    border: 3px solid #060606;
	    border-radius: 16px;
        box-shadow: 2px 2px 6px -2px #060606;
	}
}