/*Filter option's button style*/
.filter-button {
    cursor: pointer;
}

.filter-button:hover,
.filter-button:active {
    background-color: rgb(230, 230, 230) !important;
}

.filter-button:focus {
    background-color: white;
}

.filter-button.active {
    background-color: rgb(74, 179, 69) !important;
    border-color: #4D9A49 !important;
}

/*For product columns*/
.col-md-6,
.col-xs-6 {
    float: none;
    margin: 0 auto;
}

.products:after {
    content:'';
    width:100%;
    display:inline-block;
}

.product-item{
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
}

.caption {
    height: 130px;
    overflow: hidden;
    text-align: center;
}

.productPrice{
    font-weight: bold;
    color: #337AB7;
    font-size:14px;
    color: rgb(153, 153, 153);    
    margin-bottom: 10px;
    margin-top: 0;
}

.paypal-button {
    margin-top: 2%;
}

.btn-product{
    width: 100%;
}

.btn-success {
    background: gray;
    border-color:gray;
    margin-bottom:13%;
    padding: 1px
}

.shop .btn-success:hover,
.shop .btn-success:active,
.shop .btn-success:focus {
    background: #707070 !important;
}

/*For individual product*/
.thumbnail img {
    width: 100%;
    height: 200px;
}

.thumbnail {
    width: 210px;
    height: 380px;
}

.thumbnail h4 {
    font-weight: bold;
    overflow: hidden;
}

.product-title{
    font-size: 27px;
    font-weight: bold;
}

.product-desc article{
    font-size: 14px;
}

.product-price{
    font-size: 22px;
}

.product-info{
        margin-top: 50px;
}

.product img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:299px;
    height: 321px;
}

.shop-item-details {
    position: relative;
}

.product-desc  {
    text-align: left;
}

/*For pop up window*/
.modal .btn-close {
    background: white;
    color: black;
}

.modal-footer .btn-primary,
.modal-footer .btn-close{
    width:100%;
}